<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StarBucks</title>
  <link rel="stylesheet" href="../CSS/reset.css">
  <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
     
    <div class="starbucks">
      <div class="total">
          <!-- 용원 -->
      </div>
      <div class="total">
          <!-- 봉규  -->
      </div>
      <div class="total">
          <!-- 지훈 -->
      </div>
      <div class="total">
          <!-- 종현 -->
      </div>
      <div class="total">
          <!-- 도희 -->
      </div>                                
    </div>

  <script src="../JavaScript/main.js"></script>
</body>

</html>