<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StarBucks</title>
  <link rel="stylesheet" href="../CSS/reset.css">
  <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <!-- 각자 할 시에는 다른사람 div 주석 처리 or 삭제 후 style 가서 total:nth-child(1) 로 변경 -->
    <!-- .item:nth-child() 순서 해결 -->
    <div class="starbucks">
      <!-- <div class="total"> -->
          <!-- 용원 -->
      <!-- </div> -->
      <!-- 봉규  -->
      <!-- <div class="total event-click">
        <div class="container">
          <div class="item">1</div>
          <div class="item">2</div>
          <div class="item">3</div>
          <div class="right-wall">
            <span class="arrow">></span>
          </div>
        </div>
        <div class="container hidden-right">
          <div class="left-wall">
            <span class="arrow"><</span>
          </div>
          <div class="item">1</div>
          <div class="item">2</div>
          <div class="right-wall">
            <span class="arrow">></span>
          </div>
        </div>
        <div class="container hidden-right">
          <div class="left-wall">
            <span class="arrow"><</span>
          </div>
          <div class="item">1</div>
          <div class="item">2</div>
          <div class="item">3</div>
          <div class="item">4</div>
        </div>
      </div>       -->
      <!-- <div class="total"> -->
          <!-- 지훈 -->
      <!-- </div> -->
      <!-- 종현 -->
      <div class="total event-click">
        <div class="container">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="right-wall">
            <span class="arrow">></span>
          </div>
        </div>
        <div class="container hidden-right">
          <div class="left-wall">
            <span class="arrow"><</span>
          </div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="right-wall">
            <span class="arrow">></span>
          </div>
        </div>
        <div class="container hidden-right">
          <div class="left-wall">
            <span class="arrow"><</span>
          </div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="right-wall">
            <span class="arrow">></span>
          </div>
        </div>
        <div class="container hidden-right">
          <div class="left-wall">
            <span class="arrow"><</span>
          </div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
      <!-- <div class="total"> -->
          <!-- 도희 -->
      <!-- </div> -->
    </div>

  <script src="../JavaScript/main.js"></script>
</body>

</html>