<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StarBucks</title>
  <link rel="stylesheet" href="../CSS/reset.css">
  <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
  <!-- 도희  -->
    <div class="starbucks">
      <div class="total event-click">
        <div class="container">
          <div class="item hidden-left"></div>
          <div class="item hidden-top info1"></div>
          <div class="item hidden-right info2"></div>
          <div class="item hidden-bottom">
            <video muted autoplay loop>
              <source src="../videos/bts.mp4" type="video/mp4">
            </video>
          </div>
          <div class="right-wall">
            <span class="arrow">></span>
          </div>
        </div>
        <div class="container hidden-right">
          <div class="left-wall">
            <span class="arrow"><</span>
          </div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item">
            <div class="hidden-top text">
              <p>SS 서울 투어 머그 355ml</p>
              <p>17000Won</p>
            </div>
          </div>
          <div class="item">
            <div class="hidden-bottom text">
              <p>SS 서울 투어 텀블러 355ml</p>
              <p>33000Won</p>
            </div>
          </div>
          <div class="item"></div>
          <div class="right-wall">
            <span class="arrow">></span>
          </div>
        </div>
        <div class="container hidden-right">
          <div class="left-wall">
            <span class="arrow"><</span>
          </div>
          <div class="item hidden-top text2">
            <p>SS 인천 투어머그 355ml</p>
            <p>17000Won</p>
          </div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item hidden-bottom text2">
            <p>SS 인천 투어 텀블러 355ml</p>
            <p>33000Won</p>
          </div>
          <div class="item"></div>
          <div class="right-wall">
            <span class="arrow">></span>
          </div>
        </div>
        <div class="container hidden-right">
          <div class="left-wall">
            <span class="arrow"><</span>
          </div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item">
            <div class="hidden-top text">
              <p>SS 부산 투어 머그 355ml</p>
              <p>17000Won</p>
            </div>
          </div>
          <div class="item">
            <div class="hidden-bottom text">
              <p>SS 부산 투어 텀블러 355ml</p>
              <p>33000Won</p>
            </div>
          </div>
          <div class="item"></div>
          <div class="right-wall">
            <span class="arrow">></span>
          </div>
        </div>
        <div class="container hidden-right">
          <div class="left-wall">
            <span class="arrow"><</span>
          </div>
          <div class="item hidden-top text2">
            <p>SS 제주 투어머그 355ml</p>
            <p>17000Won</p>
          </div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item hidden-bottom text2">
            <p>SS 제주 투어 텀블러 355ml</p>
            <p>33000Won</p>
          </div>
          <div class="item"></div>
        </div>
      </div>                                
    </div>

  <script src="../JavaScript/main.js"></script>
</body>

</html>