* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    min-height: 100vh;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.row:nth-of-type(odd) {
    background-color: #fff;
}

/* top navigation */

#top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
}

#top-nav ul {
    list-style: none;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#top-nav ul li {
    flex-basis: 15%;
}